.root {
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 14px;
}

.field::placeholder {
  color: #767676;
}

.field {
  font-family: 'Source Sans Pro', sans-serif;
  width: 370px;
  padding: 8px 0 8px 10px;
  color: #333333;
  border: 1px solid #767676;
  font-size: 20px;
  font-weight: 300;
  outline: none;
}

.field_container {
  margin-bottom: 18px;
}

.error {
  color: red;
  font-size: 16px;
}

.checkout {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 12px 53px;
  background: #ffa392;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox {
  display: flex;
  margin-bottom: 12px;
}

.checkbox a {
  color: #ff6f55;
}
